html{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;

}
body{
	margin: 0px auto;
	-webkit-animation:slide 1s forwards;
	animation: slide 1s forwards;

}

.container {
	width: 900px;
	text-align: center;
	margin: 0px auto;



}

header{
	 background-color:#5b7989;
	 display: flex;
	justify-content:space-around;
	height:100%;
	border-radius: 13px 13px 0px 0px;

}
h1{

 text-shadow:  2px #02010a;
 color: white;
}

nav{

	width: 355px;

}
nav ul{
	display: flex;
	justify-content:space-around;
	align-items:center;
	list-style: none;

}
a{
	text-decoration: none;
		color: white;
}
 .imagenI:hover{
	transform: rotate(10deg);
}
.imagenD:hover{
	transform: translate(10px , 20px);

}

footer{
	background: #C6d5c5;
	width: 100%;
	border-radius: 0px 0px 8px 8px;
	 height:90%;
	 padding: 1px 0;

}


.imagenes{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 8px 0;
	background-color: #d5c75f;

}
.imagenes div{
	width: 33%

}
.imagenes img{
	box-shadow: 2px  0px #02010a;
}

 .f1 img {
	-webkit-filter: blur(10px);
	 filter: blur(10px);
	 width: 70%;
	 box-shadow: 2px  0px #02010a;


}
.f2 img {
 -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 70%;


}

.f3 img {
 -webkit-filter: sepia(100%);
	filter: sepia(90%);
  width: 70%;
}
.f4 img {
 -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  width: 70%;
}
.f5 img{
	width: 70%;
}

.f6 img {
 -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
 width: 70%;
}


.principal{
 padding: 10px 0;
	background-color:#d5c75f;
}

 
 
 @keyframes slide{
		0%   {margin-top:  150%}
		60%  {margin-top:  -5%}
		100% {margin-top:  0%;}
}

@media(max-width: 1000px){
	.container{
		width: 100%;
	}
      
	.imagenes div {
		width: 95%;
	}
	.imagenes img{
		width: 85%;
	}

	 header{

		 flex-direction: column;

	 }
	 header h1 {
		 width: 90%;
		 text-align: center;
		 align-self: center;
	 }
	 header nav{
		 width: 90%;
 }
  .principal .imagenes{
		flex-direction: column;

	}
	 .imagenes div{
     width: 100%;
	}
	