.width {
  width: 90vw;
  margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #3D7C47;
  /*end container */
}
body .container {
  display: flex;
  flex-direction: column;
  background-color: #3D7C47;
  color: #000;
  width: 90vw;
  margin: 0 auto;
  /* end header */
  /* end img-box */
}
body .container header {
  display: flex;
  flex-direction: row;
  background-color: #3D7C47;
  color: primary;
  width: 90vw;
  margin: 0 auto;
}
body .container header .title {
  flex-direction: row;
}
body .container .img-box {
  background-image: url("../img/tree-v.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90vw;
  margin: 0 auto;
  max-height: 100vh;
}
body .container .img-box nav,
body .container .img-box .about {
  flex-direction: column;
}
@media (min-width: 500px) {
  body .container .img-box {
    background-image: url("../img/tree-bg.png");
  }
}
/* end body */
.nav-links {
  position: relative;
  font-size: 1rem;
}
.nav-links li {
  border-top: 1px solid #3D7C47;
  background-color: rgba(240, 248, 254, 0.8);
  width: 4rem;
  padding: 0.3rem;
  color: #F0F8FF;
}
@media (min-width: 800px) {
  .nav-links li {
    width: 2rem;
  }
}
.nav-links li:first-child {
  border-top: none;
}
.nav-links li a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}
@media (min-width: 800px) {
  .nav-links li a {
    writing-mode: vertical-lr;
  }
}
.nav-links li:hover a {
  text-decoration-line: line-through;
}
.title {
  padding: 1rem;
  width: 90vw;
}
.title h1 {
  font-size: 1rem;
  font-weight: bold;
  color: #03BD37;
}
@media (min-width: 500px) {
  .title h1 {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  .title h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1.5rem;
  background-color: rgba(240, 248, 254, 0.8);
  padding: 0.5rem;
  text-align: end;
}
@media (min-width: 800px) {
  h2 {
    font-size: 2rem;
  }
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: rgba(240, 248, 254, 0.8);
  padding: 0.5rem;
  text-align: end;
}
.body-text {
  font-size: 2rem;
  font-weight: bold;
  color: #03BD37;
  padding-top: -2rem;
  line-height: 2.5rem;
}
.body-text span {
  display: block;
  margin-top: -1rem;
}
@media (min-width: 500px) {
  .body-text {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 800px) {
  .body-text {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media (min-width: 1000px) {
  .body-text {
    font-size: 5rem;
    line-height: 5rem;
  }
}
.register {
  padding-top: 2rem;
}
.register a {
  font-size: 2rem;
  color: #03BD37;
}
@media (min-width: 800px) {
  .register a {
    font-size: 3rem;
  }
}
.register a:hover {
  text-decoration: line-through;
}
.italics {
  font-style: italic;
}
footer {
  color: #3D7C47;
}
/*     Scrollbar styling  -- does not work on Firefox, Internet Explorer, or Edge  */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #E8ECF1;
}
::-webkit-scrollbar-thumb {
  background: #03BD37;
}
::-webkit-scrollbar-thumb:hover {
  background: #3D7C47;
}
::selection {
  background: #2C82C9;
  /* WebKit/Blink Browsers */
}
