body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: @accent-green;

    .container {
        display: flex;
        flex-direction: column;
        width: @width;
        background-color: @accent-green;
        color: @accent-black;
        margin: 0 auto;

        header {
            display: flex;
            flex-direction: row;
            background-color: @accent-green;
            color: primary;
            width: @width;
            margin: 0 auto;

            .title {
                flex-direction: row;
            }
        } /* end header */

        .img-box {
            flex-direction: row;
            background-image: url("../img/tree-bg.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            width: @width;
            max-height: 100vh;
            margin: 0 auto;
        } /* end img-box */
    } /*end container */
} /* end body */