.title {
    padding: 1rem;
    width: @width;

    h1{
        font-size: 3rem;
        font-weight: bold;
        color: @primary;
    }
}

h2 {
    font-size: 2rem;
    background-color: @bg-color;
    padding: 0.5rem;
    text-align: end;
}


p {
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: @bg-color;
    padding: 0.5rem;
    text-align: end;
}

.body-text {
    font-size: 5rem;
    font-weight: bold;
    color: @primary;
    padding-top: -2rem;;
    line-height: 5rem;
    
    span {
        display: block;
        margin-top: -1rem;
    }
}

.register {
    padding-top: 2rem;
}

.register a {
    font-size: 3rem;
    color: @primary;
}

.register a:hover {
    text-decoration: line-through;
}

footer {
    color: @accent-green;
}