// width below 800px

.nav-links {
    position: relative;
    font-size: @one;

}

.nav-links li {
    border-top: 1px solid @accent-green;
    background-color: @bg-color;
    width: @four;
    padding: 0.3rem;
    color: @body-color;

    @media (min-width: 800px){width: @two;}
}

.nav-links li:first-child {
    border-top: none;
}



.nav-links li a {
    font-size: @one;
    color: @accent-black;
    text-decoration: none;

    @media (min-width: 800px) {writing-mode: vertical-lr;}
}

.nav-links li:hover a {
    text-decoration-line: line-through;
}